<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zjianhao.universalcontroller">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.TRANSMIT_IR" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:name=".AppApplication"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.baidu.speech.APP_ID"
            android:value="9705785" />
        <meta-data
            android:name="com.baidu.speech.API_KEY"
            android:value="K5AhWjrLXQVyA0WoGpC70SSD" />
        <meta-data
            android:name="com.baidu.speech.SECRET_KEY"
            android:value="1f8394ff1955ae360d8ce32650e1c2e6" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.zjianhao.module.pc.SearchHostAty"/>
        <activity android:name="com.zjianhao.module.pc.ui.PPTOpenremindAty"/>
        <activity android:name="com.zjianhao.module.pc.ui.ControlPPTAty"/>
        <activity android:name="com.zjianhao.module.pc.ui.MouseControlAty"/>
        <activity android:name="com.zjianhao.module.pc.ui.PCMenuAty"/>
        <activity android:name="com.zjianhao.module.pc.ui.RemoteShutdownAty"/>
        <activity android:name="com.zjianhao.module.pc.ui.AdbDebugAty"/>
        <activity android:name="com.zjianhao.module.pc.ui.KeyBoardInputAty"
            android:windowSoftInputMode="adjustResize"
            >
            </activity>
        <activity android:name="com.zjianhao.module.electrical.ui.BrandListActivity" />
        <activity android:name="com.zjianhao.module.electrical.ui.AddControllerActivity" />
        <activity android:name="com.zjianhao.module.electrical.ui.AirConditionControllerAty" />
        <activity android:name="com.zjianhao.module.electrical.ui.ConfirmDeviceAty" />
        <activity android:name="com.zjianhao.module.electrical.ui.CameraControllerAty" />
        <activity android:name="com.zjianhao.module.electrical.ui.TVBoxControllerAty" />
        <activity android:name="com.zjianhao.module.electrical.ui.SmartBoxControllerAty" />
        <activity android:name="com.zjianhao.module.electrical.ui.ProjectorControllerAty" />
        <activity android:name="com.zjianhao.module.electrical.ui.FanControllerAty" />
        <activity android:name="com.zjianhao.module.electrical.ui.DVDControllerAty" />
        <activity android:name="com.zjianhao.ui.WebContentAty" />

        <activity android:name="com.zjianhao.ui.FingerprintLogin" />
        <activity android:name="com.zjianhao.ui.FingerprintBindAty" />
        <activity android:name="com.zjianhao.ui.FingerprintBind2Aty" />
        <activity android:name="com.zjianhao.ui.SettingAty" />
        <activity android:name="com.zjianhao.ui.UserLoginAty" />
        <activity android:name="com.zjianhao.ui.RegistAty" />

        <service android:name="com.zjianhao.service.BackupService" />
        <service android:name="com.zjianhao.service.WakaUpService" />
        <service
            android:name="com.baidu.speech.VoiceRecognitionService"
            android:exported="false" />


        <activity
            android:name="com.baidu.voicerecognition.android.ui.BaiduASRDigitalDialog"
            android:configChanges="orientation|keyboardHidden|screenLayout"
            android:theme="@android:style/Theme.Dialog"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.baidu.action.RECOGNIZE_SPEECH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


    </application>

</manifest>